BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -2
PointerAlignment: Right
ReferenceAlignment: Right
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<[a-zA-Z0-9_/]+\.h>'
    Priority: 1
    SortPriority: 1
  - Regex: '<[a-zA-Z0-9_/]+>'
    Priority: 2
    SortPriority: 2
  - Regex: '.*'
    Priority: 3
    SortPriority: 3
Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements
